body{
 background-color: thistle;   
}

h1{
 color:#456789;
 font-size: 56px;   
box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
background: linear-gradient(to bottom, white, black);
display: grid;
}